@media screen and (max-width: 1599px) {
    .container {
        max-width: 94%;
    }

    .section-header {
        font-size: 36px;
    }

    /* Navbar */
    .nav__inner {
        padding-top: 28px;
    }

    .main-logo {
        font-size: 30px;
    }

    .nav__menu_links {
        min-width: 65.7%;
    }

    .nav__menu_links>li:nth-child(3) {
        margin-right: 15px;
    }

    .nav__menu_links>li>a {
        font-size: 16px;
    }

    .nav__menu_button {
        width: 160px;
        height: 50px;
        font-size: 18px;
        margin: -2px 1px 0 0;
    }

    /* Header */

    .header__flex {
        height: 460px;
        justify-content: space-around;
    }

    .header__title {
        margin-top: 24px;
    }

    h1 {
        font-size: 48px;
        line-height: 64px;
    }

    .lightbulb {
        width: 12vw;
        padding-right: 35px;
        margin-right: 52px;
        padding-top: 67px;
    }

    .header__text {
        font-size: 20px;
        margin-top: 26px;
        margin-left: 3px;
        max-width: 420px;
    }

    .header__button {
        height: 80px;
        width: 292px;
        font-size: 24px;
        margin-top: 31px;
    }

    .header__image {
        padding: 10px 0 0 12px;
        margin-right: 0;
        margin-right: -10px;
    }

    .header__image>img {
        max-width: 460px;
    }

    /* Skills */

    .skills__header {
        margin-top: 109px;
    }

    .skills__grid {
        margin-top: 50px;
    }

    .skills__card_info {
        padding-left: 30px;
        margin-top: -6px;
    }

    .card-header {
        font-size: 22px;
    }

    .card__text {
        font-size: 14px;
    }

    .card__button {
        width: 196px;
        height: 57px;
    }

    /* GRID CARDS START */
    /* Speaking */

    .speaking>.skills__card_image {
        padding: 0 0 0 23px;
    }

    .speaking>.skills__card_image>img {
        width: 260px;
    }

    .speaking .card__text {
        margin-top: -8px;
        margin-bottom: 33px;
    }

    .speaking button {
        width: 196px;
        height: 57px;
        padding: 4px 10px 0 0;
        margin-top: -8px;
    }

    /* Writing */
    .writing>.skills__card_image>img {
        width: 205px;
        height: 205px;
        margin: 7px 0 0 88px;
    }

    .writing>.skills__card_info {
        padding: 0 27px 0 31px;
        margin-top: -37px;
    }

    .writing .card__text {
        margin: -11px 0 25px;
    }

    .writing button {
        margin-top: -2px;
        letter-spacing: -1px;
        padding-right: 13px;
    }

    /* Reading */
    .reading>.skills__card_image {
        margin: 17px 0 0 4px;

    }

    .reading>.skills__card_image>img {
        width: 243px;
        height: 162px;
    }

    .reading>.skills__card_info {
        padding-left: 26px;
        margin-top: 4px;
    }

    .reading .card__text {
        margin: -15px 0 25px 1px;
    }

    .reading button {
        letter-spacing: -1px;
        padding-right: 13px;
    }

    /* Listening */
    .listening>.skills__card_image {
        margin: 35px 16px 0 0;
    }

    .listening>.skills__card_image>img {
        width: 254px;
        height: 169px;
    }

    .listening>.skills__card_info {
        margin: 5px 20px 0 0;
    }

    .listening .card__text {
        margin: -13px 0 16px 3px;
    }

    .listening button {
        margin-left: 0;
        letter-spacing: -1px;
        padding-right: 10px;
    }

    /* GRID CARDS END */
    .skills__grid {
        gap: 13px;
        grid-template-rows: 441px 241px;
    }

    /* About Us */

    .about__flex {
        margin-top: 79px;
    }

    .about__image {
        padding: 44px 32px 0 0;
    }

    .about__image>img {
        width: 336px;
        height: 336px;
    }

    .about__info_text {
        font-size: 16px;
        margin-top: 105px;
        width: 121%;
    }

    .about__info_stats {
        width: 81%;
        margin-top: -27px;
    }

    .num {
        font-size: 30px;
    }

    .stats__item>p {
        margin-top: -9px;
    }

    .stats__item:nth-child(1) {
        padding-right: 10px;
    }

    /* Pricing */

    .pricing__header {
        margin-top: 108px;
    }

    .pricing__flex {
        margin-top: 23px;
    }

    .pricing__card {
        max-width: 330px;
    }

    .pricing__card_header {
        font-size: 22px;
    }

    .pricing__card_text {
        font-size: 16px;
    }

    .pricing__card_price {
        width: 205px;
        height: 45px;
    }

    .price {
        font-size: 24px;
    }

    /* PRICING CARDS START*/
    /* Card 1 */
    .pricing__card:nth-child(1)>.pricing__card_image {
        padding-left: 15px;
    }

    .pricing__card:nth-child(1)>.pricing__card_image>img {
        width: 222px;
        height: 222px;
    }

    .pricing__card:nth-child(1)>.pricing__card_header {
        margin-top: 6px;
    }

    .pricing__card:nth-child(1)>.pricing__card_text {
        margin-top: 7px;
        padding-left: 2px;
        width: 300px;
    }

    .pricing__card:nth-child(1)>.pricing__card_price {
        margin-top: 30px;
    }

    /* Card 2 */

    .pricing__card:nth-child(2)>.pricing__card_image {
        padding-left: 18px;
    }

    .pricing__card:nth-child(2)>.pricing__card_image>img {
        width: 267px;
        height: 195px;
    }

    .pricing__card:nth-child(2)>.pricing__card_header {
        margin: 8px 0 0 38px;
    }

    .pricing__card:nth-child(2)>.pricing__card_text {
        margin: 10px 0 0 38px;
    }

    .pricing__card:nth-child(2)>.pricing__card_price {
        margin: 51px 0 0 40px;
    }

    /* Card 3 */

    .pricing__card:nth-child(3)>.pricing__card_image {
        margin-top: -12px;
        padding-left: 54px;
    }

    .pricing__card:nth-child(3)>.pricing__card_image>img {
        width: 242px;
        height: 242px;
    }

    .pricing__card:nth-child(3)>.pricing__card_header {
        margin: -2px 0 0 71px;
    }

    .pricing__card:nth-child(3)>.pricing__card_text {
        margin: 2px 0 0 71px;
    }

    .pricing__card:nth-child(3)>.pricing__card_price {
        margin: 33px 0 0 76px;
    }

    /* PRICING CARDS END */

    /* Contact Us */

    .contacts {
        padding-top: 134px;
    }

    .contacts__image>img {
        width: 312px;
        height: 281px;
    }

    .contacts__header {
        padding: 1px 0 0 14px;
    }

    .contacts__text {
        font-size: 16px;
        padding-right: 80px;
        margin: -22px 0 6px 0;
    }

    .contacts__form {
        padding-bottom: 37px;
    }

    .form__email {
        height: 60px;
        width: 323px;
        font-size: 16px;
        padding-top: 9px;
        padding-left: 35px;
        letter-spacing: -1px;
    }

    .form__button {
        height: 60px;
        width: 193px;
        font-size: 16px;
        padding-top: 8px;
    }

    /* Footer */

    .footer {
        padding: 151px 0 30px 0;
    }

    .footer__inner {
        margin-top: 16px;
    }

    .footer__logo {
        padding-top: 7px;
    }

    .footer__policy {
        font-size: 16px;
        padding-top: 14px;
    }
}

@media screen and (max-width: 991px) {

    .container {
        max-width: 90%;
    }

    .section-header {
        font-size: 30px;
    }

    .card-header {
        font-size: 20px;
    }

    /* Navigation */

    .nav__inner {
        padding-top: 37px;
    }

    .nav__menu {
        display: none;
    }

    .nav__burger {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 30px;
    }

    .line__burger {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: #39515e;
        margin-top: 50%;
    }

    .line__burger::before {
        content: '';
        position: absolute;
        top: -7px;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #39515e;
    }

    .line__burger::after {
        content: '';
        position: absolute;
        top: 7px;
        display: block;
        width: 70%;
        height: 3px;
        background-color: #39515e;
    }

    /* Header */

    .header__flex {
        padding-top: 44px;
        height: auto;
    }

    .header__info {
        margin-right: 12px;
    }

    h1 {
        font-size: 36px;
        line-height: 45px;
        letter-spacing: -0.5px;
    }

    .lightbulb {
        width: 14vw;
        margin-right: 9px;
        padding-top: 66px;
        padding-right: 37px;
    }

    .header__text {
        font-size: 16px;
        margin-top: 22px;
        margin-left: 0;
    }

    .header__button {
        font-size: 18px;
        width: 236px;
        height: 65px;
    }

    .header__image>img {
        width: 352px;
        height: 352px;
        margin: -14px -12px 0 0;
    }

    /* Skills */

    .skills__header {
        margin-top: 8%;
    }

    .skills__grid {
        margin-top: 35px;
        gap: 10px;
        grid-template-rows: 441px 210px;
    }


    /* GRID CARDS START */
    /* Speaking */

    .speaking {
        padding-top: 31px;
    }


    .speaking>.skills__card_image {
        padding-left: 2px;
    }

    .speaking>.skills__card_image>img {
        width: 214px;
    }

    .speaking>.skills__card_info {
        margin-top: -4px;
        padding-left: 16px;
    }

    .speaking .card__text {
        margin-top: -15px;
        margin-right: -20px;
        margin-bottom: 36px;
        letter-spacing: -0.46px;
        line-height: 20px;
    }

    .speaking button {
        width: 178px;
        height: 50px;
        margin-top: -14px;
        font-size: 16px;
        padding: 4px 0 0 3px;
    }


    /* Writing */
    .writing>.skills__card_image>img {
        width: 200px;
        margin-left: -6px;
        margin-top: 13px;
    }

    .writing>.skills__card_info {
        padding-left: 6px;
        margin-top: -40px;
    }

    .writing .card__text {
        font-size: 13px;
        margin: -18px -10px 20px 4px;
    }

    .writing button {
        width: 178px;
        height: 50px;
        font-size: 16px;
        padding: 5px 0 0 0;
        letter-spacing: -0.1px;
    }


    /* Reading */
    .reading>.skills__card_image>img {
        width: 216px;
        padding-top: 15px;
    }

    .reading>.skills__card_info {
        margin-top: 0px;
        padding-left: 23px;
    }

    .reading .card__text {
        margin-top: -17px;
        letter-spacing: -0.6px;
        line-height: 20px;
    }

    .reading button {
        width: 178px;
        height: 50px;
        font-size: 16px;
        padding: 0;
        letter-spacing: 0;
    }

    /* Listening */

    .listening>.skills__card_image {
        margin-top: 42px;
        margin-right: 9px;
    }

    .listening>.skills__card_image>img {
        width: 202px;
    }

    .listening>.skills__card_info {
        padding-left: 13px;
        margin-right: -15px;
    }

    .listening .card-header {
        margin-top: -7px;
        margin-left: -2px;
    }

    .listening .card__text {
        font-size: 13px;
        margin-top: -17px;
        margin-left: 0px;
    }

    .listening button {
        width: 178px;
        height: 50px;
        font-size: 16px;
        margin-top: -2px;
        margin-left: -1px;
        padding-right: 2px;
        padding-top: 2px;
        letter-spacing: 0px;
    }

    /* GRID CARDS END */

    /* About Us */

    .about__flex {
        margin-top: 23px;
    }

    .about__info_text {
        font-size: 14px;
        margin-top: 109px;
        width: 97%;
    }

    .about__info_stats {
        width: 113%;
        margin-top: -30px;
    }

    .stats__item:nth-child(1)>.num {
        margin-left: 7px;
    }

    .num {
        font-size: 22px;
    }

    .stats__item>p {
        font-size: 13px;
        margin-top: -10px;
    }

    .stats__item:nth-child(2)>p {
        margin-top: -11px;
        margin-left: -3px;
    }


    .stats__item:nth-child(3)>.num {
        padding-left: 4px;
    }


    .stats__item:nth-child(3)>p {
        margin-top: -13px;
        margin-right: 5px;
    }

    .about__image {
        margin-right: -4px;
        padding-top: 65px;
        padding-right: 0;
    }

    .about__image>img {
        width: 295px;
        height: 295px;
    }

    /* Pricing */

    .pricing__header {
        margin-top: 84px;
    }

    .pricing__card_header {
        font-size: 20px;
        line-height: 28px;
    }

    .pricing__flex {
        margin-top: 31px;
    }

    .pricing__card {
        max-width: 205px;
    }

    .pricing__card_text {
        font-size: 14px;
    }

    .pricing__card_price {
        font-size: 16px;
    }

    .price {
        font-size: 22px;
    }



    /* PRICING CARDS */

    /* CARD 1 */

    .pricing__card:nth-child(1)>.pricing__card_image>img {
        width: 197px;
        height: 197px;
    }

    .pricing__card:nth-child(1)>.pricing__card_image {
        padding-left: 0px;
        margin-left: -13px;
    }

    .pricing__card:nth-child(1)>.pricing__card_header {
        margin-top: 16px;
    }

    .pricing__card:nth-child(1)>.pricing__card_text {
        margin-top: 15px;
        padding-left: 0px;
        padding-right: 100px;
    }

    .pricing__card:nth-child(1)>.pricing__card_price {
        margin-top: 26px;
    }

    /* CARD 2 */

    .pricing__card:nth-child(2)>.pricing__card_image>img {
        width: 226px;
        height: 171px;
    }

    .pricing__card:nth-child(2)>.pricing__card_image {
        padding-left: 0px;
        padding-top: 28px;
        margin-left: -10px;
    }

    .pricing__card:nth-child(2)>.pricing__card_header {
        margin-left: 36px;
        margin-top: 14px;
    }

    .pricing__card:nth-child(2)>.pricing__card_text {
        margin-left: 0;
        margin-top: 16px;
    }

    .pricing__card:nth-child(2)>.pricing__card_price {
        margin-top: 45px;
        margin-left: -3px;
    }

    /* CARD 3 */

    .pricing__card:nth-child(3)>.pricing__card_image>img {
        width: 210px;
        height: 210px;
    }

    .pricing__card:nth-child(3)>.pricing__card_image {
        padding-left: 0px;
        margin-top: -5px;
        margin-left: -4px;
    }

    .pricing__card:nth-child(3)>.pricing__card_header {
        margin-left: -4px;
        margin-top: 9px;
        padding-right: 60px;
    }

    .pricing__card:nth-child(3)>.pricing__card_text {
        margin-left: -5px;
        margin-top: 9px;
        margin-right: -15px;
    }

    .pricing__card:nth-child(3)>.pricing__card_price {
        margin-left: -3px;
        margin-top: 51px;
    }

    /* Contact Us */

    .contacts {
        padding-top: 86px;
    }

    .contacts__grid {
        column-gap: 37px;
    }

    .contacts__image {
        margin-left: 5px;
    }

    .contacts__image>img {
        width: 233px;
        height: 210px;
    }

    .contacts__title {
        margin-top: -23px;
        margin-left: -13px;
    }

    .contacts__text {
        font-size: 14px;
        padding-right: 47px;
        margin-top: -30px;
        margin-left: 1px;
    }

    .form__email {
        width: 283px;
        height: 50px;
        font-size: 12px;
        padding-left: 22px;
        padding-top: 0px;
        letter-spacing: 0.1px;
        border-radius: 5px;
    }

    .form__button {
        width: 145px;
        height: 50px;
        font-size: 13px;
        padding-left: 0px;
        padding-top: 3px;
        padding-right: 0px;
        margin-left: -4px;
        border-radius: 5px;
    }

    .footer {
        padding-top: 105px;
    }

    .footer__inner {
        margin-top: 10px;
    }

    .footer__policy {
        font-size: 13px;
    }
}

@media screen and (max-width:766px) {
    .container {
        max-width: 89%;
    }


    /* Navigation */

    .nav__burger {
        width: 43px;
        height: 46px;
        margin-right: 18px;
    }

    .line__burger {
        height: 4px;
        margin-top: 53%;
    }

    .line__burger::before {
        height: 4px;
        top: -10px;
    }

    .line__burger::after {
        height: 4px;
        top: 10px;
    }

    /* Header */

    .lightbulb {
        display: none;
    }

    #header-brake {
        display: none;
    }

    .header__flex {
        flex-direction: column-reverse;
        max-width: 100%;
        justify-content: flex-end;
        padding: 0;
    }

    .header__info {
        margin: 0;
        max-width: 100%;
        text-align: center;
    }

    .header__title {
        margin: -20px 0 29px 0;
        justify-content: center;
    }

    h1 {
        font-size: 34px;
        line-height: 45px;
    }

    .header__text {
        margin: 0;
        max-width: 100%;
        font-size: 16px;
    }

    .header__button {
        margin: 35px 0 0 0;
        width: 305px;
        height: 75px;
        font-size: 18px;
    }


    .header__image {
        padding: 10px 0 0 0;
        margin: 0;
    }

    .header__image>img {
        max-width: 100%;
        width: 90%;
        height: 92%;
        margin: 0 auto;
        display: block;
    }


    /* Skills */
    .skills {
        margin-top: 17%;
    }

    .skills__header {
        margin: 0;
        padding-left: 10px;
    }

    .skills__card {
        padding: 15px 25px 36px 15px !important;
        width: 42vw !important;
    }

    .skills__card_image {
        margin: 0 !important;
        padding: 0 !important;
        height: 26vw !important;
    }

    .skills__card_image>img {
        margin: 0 !important;
        padding: 0 !important;
        max-height: 100% !important;
        min-width: 100% !important;
    }

    .skills__card_info {
        padding: 0 !important;
        margin: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }

    .card-header {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 18px;
    }

    .card__text {
        margin: 0 0 20px 0 !important;
        padding: 0 !important;
        font-size: 13px;
        line-height: 18px !important;
    }

    .card__button {
        width: 35vw !important;
        height: 50px !important;
        font-size: 14px !important;
    }

    .skills__grid {
        margin: 32px 0 0 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 534px 534px;
        grid-template-areas: none;
        gap: 34px 30px;
    }


    /* Speaking */
    .speaking_large {
        display: none;
    }

    .speaking {
        grid-area: auto;
        padding: 0;
    }

    /* Writing */
    .writing {
        grid-area: auto;
    }

    /* Reading */

    .reading {
        grid-area: auto;
    }

    /* Listening */

    .listening {
        grid-area: auto;
        flex-direction: column;
        justify-content: flex-start;
    }

    /* About Us */
    .about {
        position: static;
    }

    .about__header {
        position: static;
    }

    .section-header {
        text-align: center;
        margin-top: 17%;
    }

    .about__flex {
        margin-top: 21px;
        flex-direction: column-reverse;
    }

    .about__info {
        width: auto;
        margin-top: 4%;
    }

    .about__info_text {
        margin: 0;
        width: auto;
        text-align: center;
    }

    .about__info_stats {
        margin: -20px auto 0;
        width: auto;
        justify-content: space-around;
    }

    .stats__item:nth-child(1) {
        padding: 0 0 0 9px;
    }

    .stats__item:nth-child(2) {
        padding-left: 35px;
    }

    .stats__item:nth-child(3) {
        margin-right: 0;
    }

    .stats__item>p {
        font-size: 14px;
    }

    .about__image {
        padding: 0;
    }

    .about__image>img {
        width: 87vw;
        height: 61vw;
    }


    /* Pricing */

    .pricing__header {
        margin-top: 25%;
    }

    .pricing__flex {
        flex-direction: column;
    }

    .pricing__card {
        max-width: 95vw;
        margin-top: 25px;
    }

    .pricing__card_image>img {
        width: 55vw !important;
        height: auto !important;
        display: block;
        margin: 0 auto;
    }

    .pricing__card_header {
        font-size: 24px;
        text-align: center;
        margin: 0 !important;
        padding: 0 !important;
    }

    .pricing__card_text {
        width: 68vw !important;
        padding: 0 !important;
        text-align: center;
        margin: 20px auto !important;
    }

    .pricing__card_price {
        margin: 35px auto 23px !important;
    }

    /* Contacts */

    .contacts__grid {
        grid-template-areas: 'title'
            'image'
            'text'
            'form';
    }

    .contacts__header {
        margin-top: 15%;
    }

    .contacts__image>img {
        width: 61vw;
        height: 56vw;
        display: block;
        margin: 62px auto;
    }

    .contacts__text {
        font-size: 16px;
        text-align: center;
        margin: -50px 0 39px;
        padding: 0;
    }

    .form__email {
        width: 58vw;
        height: 10vw;
    }

    .form__button {
        width: 32vw;
        height: 10vw;
        font-size: 1.1em;
    }


    /* Footer */
    .footer {
        padding-top: 111px;
    }

    .footer__inner {
        margin-top: 16px;
    }

    .footer__policy {
        font-size: 12px;
    }

}

@media screen and (max-width: 574px) {
    .container {
        max-width: 92vw;
    }

    /* Navbar */
    .nav__inner {
        padding-top: 33px;
    }

    .nav__logo {
        font-size: 24px;
    }

    .nav__burger {
        margin: 0;
        width: 35px;
    }

    .line__burger {
        margin-top: 57%;
    }

    .line__burger::before {
        top: -7px;
    }

    .line__burger::after {
        top: 8px;
    }

    /* Header */

    .header__title {
        margin: 20px auto 18px;
    }

    h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .header__text {
        font-size: 14px;
    }

    .header__button {
        width: 90vw;
        height: 8vh;
    }

    .header__image {
        padding-top: 0;
        margin-top: 22px;
    }

    .header__image>img {
        width: auto;
        height: 102%;
        max-width: 100%;
    }

    /* Skills */

    .section-header {
        font-size: 24px;
    }

    .skills__grid {
        grid-template-columns: repeat(1, 2fr);
        grid-template-rows: 600px 473px 473px 473px;
        row-gap: 21px;
    }

    .skills__card {
        width: auto !important;
        max-width: 92vw;
    }

    .skills__card_image {
        height: 50vw !important;
    }

    .card__button {
        width: 57vw !important;
    }

    /* About Us */
    .about__image>img {
        height: 90vw;
    }

    .about__info_text {
        font-size: 13px;
    }

    .about__info_stats {
        flex-direction: column;
        margin: -27px auto 0;
    }

    .stats__item {
        padding: 0 !important;
        margin: 0 !important;
    }

    .num {
        padding: 0 !important;
        margin: 0 !important;
    }

    .stats__item>p {
        padding: 0 !important;
        margin: 0 !important;
    }

    /* Pricing */
    .pricing__header {
        margin-top: 27%;
        margin-bottom: 20px;
    }

    .pricing__card {
        margin-bottom: 35px;
    }

    .pricing__card_image>img {
        width: 65vw !important;
        height: 65vw !important;
    }

    .pricing__card_header {
        font-size: 18px;
    }

    .pricing__card_text {
        font-size: 13px;
    }

    .pricing__card_price {
        width: 52vw;
        height: 4vh;
        font-size: 14px;
        min-width: 150px;
    }

    .price {
        font-size: 18px;
    }

    /* Contacts */
    .contacts {
        padding-top: 14px;
    }

    .contacts__image>img {
        width: 78vw;
        height: 71vw;
        margin-top: 18px;
    }

    .contacts__text {
        font-size: 14px;
        margin-top: -41px;
        margin-bottom: 10px;
    }

    .form__flex {
        flex-direction: column;
    }

    .form__email {
        width: 92vw;
        height: 6vh;
        margin: 0 0 15px 0;
    }

    .form__button {
        width: 92vw;
        height: 7vh;
        font-size: 1.1em;
        margin: 0;
        font-size: 0.9em;
    }

    /* Footer */
    .footer {
        padding-top: 21px;
    }

    .footer__inner {
        flex-direction: column;
        margin-top: 19px;
    }

    .footer__logo {
        font-size: 24px;
    }

    .footer__policy {
        font-size: 11px;
    }
}