:root {
    --bg: #ffffff;
    --header: #000000;
    --sub-header: #263238;
    --paragraph: #8F95A5;
    --button: #263238;
}

/* Normalize */

html {
    box-sizing: border-box;
    font-family: 'Poppins Regular';
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
    margin: 0;
    padding: 0;
    border: none;
}

ul {
    list-style: none;
}

a {
    color: unset;
    text-decoration: none;
}

p {
    color: var(--paragraph);
}

/* Common */

.container {
    max-width: 1340px;
    margin: 0 auto;
}

.main-logo {
    font-size: 36px;
}

.logo-right {
    color: #939393;
}

.btn {
    background-color: transparent;
    cursor: pointer;
}

.section-header {
    font-family: 'Poppins Medium';
    font-size: 48px;
    line-height: 80px;
}

.card-header {
    font-family: 'Poppins Medium';
    font-size: 30px;
}

/* Navbar */

.nav {}

.nav__inner {
    padding-top: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__logo {
    padding-top: 2px;
}

.nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 75%;
}

.nav__menu_links {
    padding: 15px 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 56%;
}

.nav__menu_links>li:nth-child(2) {
    margin-right: -5px;
}

.nav__menu_links>li:nth-child(3) {
    margin-right: 19px;
}

.nav__menu_links>li:nth-child(4) {
    margin-right: -4px;
}

.nav__menu_links>li:nth-child(5) {
    margin-right: -1px;
}

.nav__menu_links a {
    font-family: 'Poppins Medium';
    font-size: 20px;
    color: var(--sub-header);
}

.nav__menu_button {
    font-family: 'Poppins Medium';
    font-size: 24px;
    color: var(--button);
    width: 220px;
    height: 70px;
    border: 3px solid var(--button);
    border-radius: 5px;
}

.nav__burger {
    display: none;
}

/* Header */

.header {}

.header__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 51px;
}

.header__info {
    max-width: 542px;
}

.header__title {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: 'Poppins Medium';
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -1px;
}

.lightbulb {
    padding-top: 65px;
}

.header__text {
    font-size: 24px;
    max-width: 680px;
    margin-left: -3px;
    margin-top: 40px;
}

.header__button {
    width: 438px;
    height: 118px;
    background-color: var(--header);
    color: var(--bg);
    border-radius: 8px;
    font-size: 36px;
    margin-top: 60px;
    font-family: 'Poppins Medium';
}

.header__image {
    margin-right: -7px;
}

/* Skills */

.skills {}

.skills__header {
    margin-top: 95px;
    text-align: center;
}


.skills__card {
    background-color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}
/* GRID CARDS START */
/* Speaking */
.speaking {
    grid-area: speaking;
}

.speaking button {
    width: 230px;
    font-size: 18px;
    margin-top: 12px;
}

.speaking>.skills__card_image {
    padding-top: 30px;
    padding-left: 20px;
}

/* Writing */
.writing {
    grid-area: writing;
}

.writing>.skills__card_image>img {
    margin: -6px 0 0 118px;
}

.writing>.skills__card_info {
    margin-top: -44px;
    padding-left: 37px;
}

.writing .card__text {
    margin-top: -9px;
}

.writing button {
    margin-top: 8px;
}

/* Reading */
.reading {
    grid-area: reading;
}

.reading>.skills__card_image {
    margin-top: 5px;
    margin-left: -4px;
}

.reading>.skills__card_info {
    padding: 0 35px;
}

.reading>.skills__card_info>.skills__card_header {
    margin-top: -7px;
}

.reading .card__text {
    max-width: 360px;
    margin: -12px 0 35px 4px;
}

.reading button {
    margin-left: 3px;
}

/* Listening */
.listening {
    grid-area: listening;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.listening>.skills__card_image {
    margin: 43px 31px 0 0;
}

.listening>.skills__card_info {
    margin: 42px 88px 0 0;
    padding-right: 0;
}

.listening .card__text {
    margin-top: -6px;
}

.listening button {
    margin: 2px 0 0 -5px;
}

/* GRID CARDS END */

.skills__grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 532px 343px;
    gap: 18px 20px;
    grid-template-areas:
        'speaking writing reading'
        'speaking listening listening';
}

.skills__card_image {}

.skills__card_info {
    padding-left: 40px;
    padding-right: 40px;
}

.skills__card_header {
    line-height: 80px;
}

.card__text {
    max-width: 341px;
    margin-top: 6px;
    margin-bottom: 24px;
}

.card__button {
    background-color: var(--button);
    color: var(--bg);
    font-family: 'Poppins Medium';
    font-size: 20px;
    height: 60px;
    width: 220px;
    border-radius: 5px;
}

/* About Us */

.about {
    position: relative;
}

.about__header {
    position: absolute;
    top: 30px;
}

.about__flex {
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about__info {
    width: 48%;
}

.about__info_text {
    margin-top: 89px;
    font-size: 20px;
}

.about__info_text>p {
    margin-bottom: 35px;
}

.about__info_stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.stats__item {}

.stats__item:nth-child(1) {
    padding-right: 42px;
}

.stats__item:nth-child(2) {
    padding-left: 2px;
}

.stats__item:nth-child(3) {
    margin-right: 32px;
}

.stats__item:nth-child(3)>.num {
    padding-right: 16px;
}

.num {
    font-family: 'Poppins Medium';
    font-size: 48px;
    line-height: 80px;
    color: #2A3246;
}

.about__image {
    padding-right: 10px;
}

/* Pricing */

.pricing {}

.pricing__header {
    text-align: center;
    margin-top: 182px;
}


.pricing__flex {
    margin-top: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pricing__card {
    max-width: 418px;
}

/* PRICING CARDS START*/
.pricing__card:nth-child(1)>.pricing__card_image {
    padding-left: 25px;
}

.pricing__card:nth-child(1)>.pricing__card_header {
    margin-top: 35px;
}

.pricing__card:nth-child(1)>.pricing__card_price {
    margin-top: 27px;
}

.pricing__card:nth-child(2)>.pricing__card_image {
    padding-top: 25px;
    padding-left: 13px;
}

.pricing__card:nth-child(2)>.pricing__card_header {
    margin-top: 37px;
    margin-left: 16px;
}

.pricing__card:nth-child(2)>.pricing__card_text {
    margin-top: 23px;
    margin-left: 17px;
}

.pricing__card:nth-child(2)>.pricing__card_price {
    margin-top: 58px;
    margin-left: 13px;
}

.pricing__card:nth-child(3)>.pricing__card_image {
    padding-left: 32px;
}

.pricing__card:nth-child(3)>.pricing__card_header {
    margin-top: 5px;
    margin-left: -18px;
}

.pricing__card:nth-child(3)>.pricing__card_text {
    margin-left: -18px;
}

.pricing__card:nth-child(3)>.pricing__card_price {
    margin-top: 59px;
    margin-left: -23px;
}

/* PRICING CARDS END */

.pricing__card_image {}

.pricing__card_header {
    font-family: 'Poppins Medium';
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.pricing__card_text {
    font-size: 20px;
    margin-top: 19px;
}

.pricing__card_price {
    background-color: #eeeeee;
    width: 240px;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins Medium';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.price {
    font-family: 'Poppins Medium';
    font-size: 30px;
    color: var(--sub-header);
}

/* Contacts */

.contacts {
    padding-top: 250px;
}

.contacts__grid {
    display: grid;
    row-gap: 20px;
    column-gap: 111px;
    grid-template-areas: 'image title'
        'image text'
        'image form';
}

.contacts__title {
    grid-area: title;
}

.contacts__header {
    padding-top: 41px;
    letter-spacing: -1px;
}


.contacts__image {
    grid-area: image;
}

.contacts__image>img {
    width: 477px;
    height: 429px;
    margin-top: 7px;
    margin-left: -18px;
}

.contacts__text {
    grid-area: text;
    font-size: 20px;
    margin-top: -14px;
}

.contacts__form {
    grid-area: form;
    padding-bottom: 67px;
}

.form__flex {
    display: flex;
    flex-direction: row;

}

.form__email {
    height: 80px;
    width: 450px;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 33px;
    outline: #8F95A5;
    font-size: 16px;
    font-family: 'Poppins Regular';
}

.form__button {
    height: 80px;
    background-color: var(--button);
    color: var(--bg);
    width: 264px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Poppins Regular';
    padding-left: 10px;
}

/* Footer */

.footer {
    padding-top: 127px;
    padding-bottom: 58px;
}

.line {
    background-color: var(--paragraph);
    height: 1px;
    width: 100%;
}

.footer__inner {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {}


.footer__policy {
    font-size: 24px;
    color: var(--paragraph);
    padding-top: 22px;
}